{% extends "tradingbookapp/base.html" %}

{% block titulopagina%}
The Good Trader - Trades
{%endblock%}
{%block contenidopagina%}


<section class="bg-light py-5 border-bottom">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <h3>Los Trades Realizados son:</h3>
                <table class="table">

                    <thead>
                        <th scope="col">Fecha</th>
                        <th scope="col">Simbolo</th>
                        <th scope="col">Posicion</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Target</th>
                        <th scope="col">Stop</th>
                    </thead>
                    <ul class= "list-group list-group-numbered">
                        {% for trade in trades  %}
                        <tr>
                            <td>{{trade.fecha}}</td>
                            <td>{{trade.simbolo}}</td>
                            <td><span class= "badge bg-primary rounded-pill>">{{trade.get_posicion_display}}</span></td>
                            <td>{{trade.entrada}}</td>
                            <td>{{trade.target}}</td>
                            <td>{{trade.stop}}</td>
                            
                        </tr>
                        {% endfor %}
                    </ul>
                </table>


            </div>
        </div>
    </div>
    



</section>

{%endblock%}